#About{
    background: rgba(8, 62, 66, 0.3);
}
/* #About .headline{
    position: absolute;
    transform: rotateZ(-20deg) translate(-40px,-40px);
    width: fit-content;
    padding: 10px 20px;
    z-index: 1;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    background-color: rgba(73, 73, 73, 0.288);
    border: 1px solid #838383;
    border-radius: 25px;
} */
.section{
    position: relative;
}
#About img{
    max-height: 350px;
    max-width: 40%;
    margin-top: 20px;
    animation: jaggle 3s 2s infinite alternate;
}
#About div{
    padding:10px;
    width: 60%;
    display: flex;
}
#About ul{
    display: flex;
    flex-grow: 1;
    padding-left: 40px;
    justify-content: center;
    list-style: circle;
    line-height: 40px;
    flex-direction: column;
}
#About li{
    color:darkseagreen;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding-left: 20px;
    margin-left: 60px;
    font-size: 18px;
}
#About .headline{
    color: darkgrey;
}
@media only screen and (max-width:1050px){
    #About div{
        width: 50%;
    }
    #About li{
        padding-left: 10px;
        margin-left: 10px;
    }
}
@media only screen and (max-width:600px){
    #About div{
        width: 100%;
    }
    #About ul{
        padding: 40px 20px;
        align-items: baseline;
        text-align: left;
        width: 90%;
        margin: 0;
    }
    #About img{
        max-width: 100%;
    }

}